.news-detail-content {
    float: left;
    width: 70%;
    margin-top: -79px;
    /* margin-bottom: 80px;
    margin-left: 80px;
    margin-right: 80px; */
    background: #fff;
    border-radius: "20px";
}

.title-area {
    float: left;
    border-radius: 20px;
    background: #73888b;
    color: #3f3e3e;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    position: relative;
}



/* Additional styles for the container to center the content */
.check {
    display: flex;
    justify-content: center;   
    box-shadow: #3f3e3e;
}

.aboutparagraph{
    padding: 10px;
    /* display: flex;
    justify-content: center;    */
}
.s{
    color: rgb(2, 141, 222);
}
/*  twitter Instagram*/

/* SocialMediaComponent.css */
.mainroot {
    background-image: linear-gradient(to right, #ff9966, #ff5e62);
    padding: 16px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .iframeContainer {
    width: 100%;
    height: 100%;
  }
  